<li>
   <%= gravatar_for user, size: 52 %>
   <%= link_to user.name, user %>
   <% if current_user.admin? && !current_user?(user) %>
      <!-- con conferma azione in javascript -->
      | <%= link_to 'elimina', user, method: :delete, data: { confirm: 'Sei sicuro?' } %>
   <% end %>
</li>