<!--imposto il titolo della pagina con il metodo provide.. assegno titolo a :title-->
<% provide :title, 'Tutti gli Utenti' %>

<h1>Tutti gli Utenti</h1>

<%= will_paginate @users %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate @users %>