<!--imposto il titolo della pagina con il metodo provide.. assegno titolo a :title-->
<% provide :title, 'Registrazione' %>

<h1>Registrazione Nuovo Utente</h1>
<p>Pagina in sviluppo per nuovo utente...</p>