<!--imposto il titolo della pagina con il metodo provide.. assegno titolo a :title, qui univoco-->
<% provide :title, @user.name %>

<div class="row">
    <aside class="col-md-4">
      <section>
        <h1>
          <!--img gravatar-->
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
</div>