<% # questo parziale viene usato nella pagina itinerario %>
<% @user ||= current_user %>
<div class="stats">
  <a href="<%= followers_route_path(@route) %>">
    <strong id="followers" class="stat">
      <%= @route.followers.count %>
    </strong>
    followers <!-- utenti che seguono -->
  </a>

  <a>
      <strong class="stat">
        <%= @route.comment_routes.count %>
      </strong>
      comments  <!-- utenti che seguono -->
  </a>

</div>