

<% # current user name, link sul suo profilo e numero di post pubblicati %>
<h1><%= link_to current_user.name , current_user %></h1>
<!--<span><%#= link_to current_user.name , current_user %></span>
<span><%#= pluralize(current_user.posts.count, 'post') %> - <%#= pluralize(current_user.routes.count, 'itineraries') %></span>-->