<!--imposto il titolo della pagina con il metodo provide.. assegno titolo a :title-->
<% provide :title, 'About Run Club' %>

<h2>About Run Club</h2>
<p class="testoabout">Run Club è prima di tutto un luogo di incontro! <br />
  Qui potrai trovare e conoscere persone da tutto il mondo, vedere i loro allenamenti e percorsi e condividere i tuoi obiettivi e i tuoi pensieri.<br />
  <%= link_to "Entra nel Run Club", signup_path %> e dai forza alla passione per la corsa!</p>
