<!--imposto il titolo della pagina con il metodo provide.. assegno titolo a :title-->
<% provide :title, 'Home' %>

<div class="jumbotron text-center"> <!--classi bootstrap -->
    <h1>Benvenuto nel SocialNetwork<br />di Marika</h1>
    <h2>
       Registrati o fai il Login <%#= link_to "SocialNetwork", root_path %>.
    </h2>

    <%= link_to "Registrati!", signup_path, class:"btn btn-primary btn-lg", role:"button"%> <!--classi bootstrap -->
</div>