<!--imposto il titolo della pagina con il metodo provide.. assegno titolo a :title-->
<% provide :title, 'Home' %>

<div class="jumbotron text-center"> <!--classi bootstrap -->
    <h1>Benvenuto in Flix by Marika</h1>
    <h2>
       Registrati o fai il Login cliccando qui <%= link_to "Flix", '#'%>.
    </h2>

    <%= link_to "Registrati!", '#', class:"btn btn-primary btn-lg", role:"button"%> <!--classi bootstrap -->
</div>