<% provide :title, 'Home' %>

<div class="jumbotron text-center">
    <h1>Benvenuto in Flix by Marika</h1>
    <h2>
       Sign up or login to start using <%= link_to "Flix", '#'%>.
    </h2>

    <%= link_to "Sign up now!", '#', class:"btn btn-primary btn-lg", role:"button"%>
</div>