/* stile base */
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* generali */
html {
  overflow-y: scroll;
}

/* stile finestra modale */

.modal{
  overflow: hidden;
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  max-height: 420px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  outline: none;

  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;

  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.modal.fade{
    -webkit-transition: opacity .3s linear, top .3s ease-out;
    -moz-transition: opacity .3s linear, top .3s ease-out;
    -o-transition: opacity .3s linear, top .3s ease-out;
    transition: opacity .3s linear, top .3s ease-out;
    top: -25%;
    &.in {
      top: 10%;
    }
}

.modal-header{
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    .close{
      margin-top: 2px;
    }
    h3{
      margin: 0;
      line-height: 30px;
    }
}
.modal-body{
    position: relative;
    padding: 15px;
}
.modal-footer{
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    &:before, &:after {
      display: table;
      content: "";
      line-height: 0;
    }
    &:after {
      clear: both;
    }
    .btn+.btn{
      margin-left: 5px;
      margin-bottom: 0;
    }
    .btn-group .btn+.btn{
      margin-left: -1px;
    }
    .btn-block+.btn-block{
      margin-left: 0;
    }
}

/* classi base del Carousel */
.carousel {
    margin-bottom: 60px;
    margin-top:-85px;
    .carousel-inner {
        height:100%;
        .bg {
            background-repeat:no-repeat;
            background-size:cover;
        }
        .bg1 {
            background-image:url(/assets/slider1.jpg);
            background-position: center top;
        }
        .bg2 {
          background-image:url(/assets/slider2.jpg);
          background-position: center center;
        }
        .bg3 {
          background-image:url(/assets/slider3.jpg);
          background-position: center bottom;
        }
    }
    .item {
        background-color: #777;
        height:500px;
        .active {
            height:100%;
        }
    }
}

.carousel-caption {
  z-index: 10;
}
.carousel-control {
  margin-top: 20px;
}


/* stile header e menu */
img.logorunclub {
  padding: 8px;
}

.navbar-nav > li > a {
  color: #E30430 !important;
  font-size: 18px;
  padding-top: 25px;
}

.dropdown-menu {
  font-size: 18px;
}

/* stile aside nella show dell'utente */

aside {

    section {
      padding: 10px 0;
      border-top: 1px solid $gray-lighter;
        &:first-child {
          border: 0;
          padding-top: 0;
        }
        span {
          display: block;
          margin-bottom: 3px;
          line-height: 1;
        }
        h1 {
          font-size: 1.4em;

          letter-spacing: -1px;
          margin-bottom: 3px;
          margin-top: 0px;
        }
    }
}

.stats {
  overflow: auto;
  text-align: right;
    p {
      padding: 0 10px;
    }
    a {
      float: right;
      padding: 0 10px;
      border-right: 1px solid $gray-lighter;
      color: gray;
        &:first-child {
          padding-left: 0;
          border: 0;
        }
        &:hover {
          text-decoration: none;
          color: $brand-primary;
        }
    }
    strong {
      display: block;
    }
}

.statsprof a {
  float: left;
}

.strongtitroute {
  display: inline;
}
.statsroutes a {
  float:none;
  color: #428BCA;
}
.user_avatars {
  overflow: auto;
  margin-top: 10px;
    .gravatar {
      margin: 1px 1px;
    }
}


.gravatar {
  float: right;
  margin-right: 0px;
}

.gravatar2 {
  float: left;
  margin-top: 30px;
  margin-right: 20px;
}

.gravatar3 {
  float: left;
  margin-top: 0px;
  margin-right: 20px;
}

/* form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

.titololatlong {
  padding: {
    top: 10px;
    left: 0;
  }
  clear: both;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #000;
  background-color: #FCF8E3;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
    ul {
      list-style: none;
      margin: 0 0 18px 0;
    }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
}

.edit_user {
  margin-bottom: 30px;
}

/* lista utenti */

.users {
  list-style: none;
  margin: 0;
  li {
      overflow: auto;
      padding: 10px 0;
      border-top: 1px solid $gray-lighter;
      &:last-child {
         border-bottom: 1px solid $gray-lighter;
      }
  }
}

/* posts, messaggi e itinerari*/

.posts, .messages, .itineraries {
  list-style: none;
  margin: 10px 0 0 0;
  padding-left: 0;
  li {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
    clear: both;
    }
}

strong {
  display: block;
}

.content {
  display: block;
}

.timestamp {
  color: $gray-light;
}


.field {
    textarea {
      height: 100px;
      margin-bottom: 5px;
      border-radius: 5px;
    }

}

input {
  border-radius: 5px;
}
.btn-home {
  max-width: 30%;
  @extend .pull-right;
}

/* commenti itinerari */

.comment_section {
  margin-top: 30px;
  position: relative;
}

.post_comments img {
  width: 85px;
  height: 85px;
  margin-top: 35px;
}

.post_reply_comments {
  background: #f5f5f5;
  border-radius: 4px;
  padding: 0 30px 20px 30px;

  h3{
    margin-top: 0;
  }

  h1 a:hover{
    color:#c52d2f;
  }

  h4{
    padding-bottom: 10px;
  }

  p {

    color:#c4c4c5;
    font-weight:400;
  }

  h4 {
    a {
      bottom: 15px;
      position: absolute;
      right: 30px;
      background: #E30430;
      color: #fff;
      border-radius: 5px;
      padding: 8px 20px;
    }

    a:before {
      border-color: #E30430 transparent transparent;
      border-style: solid;
      border-width: 16px;
      bottom: -11px;
      content: "";
      height: 0;
      left: -12px;
      position: absolute;
      z-index: 99999;
    }

  }

}

.post_reply_comments:before {
  border: {
    color: transparent #F0F0F0 transparent transparent;
    style: solid;
    width: 15px;
  }
  content: " ";
  position: absolute;
  height: 0;
  left: -15px;
  top: 20px;


}
.postwithborder {
  margin-left: 15px;
}
.postnoborder:before {
  border: none;
}

h3.titlepostpag {
  padding-top: 30px;
}
.postelimina {
  float: right;
}

.postelimina2 {
  float: left;
  padding-top: 10px;
}


/* varie */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

body {
  /* padding top by navbar height */
  padding-top: 70px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}