<footer class="footer">
  <small>
    <a href="http://github.com/lam-2014/flix" alt="Flix on GitHub">Flix</a>
  </small>
  <nav role="navigation">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://bit.ly/lingambmult" alt="Linguaggi e Ambienti Multimediali">News</a></li>
    </ul>
  </nav>
</footer>